*.class
*.jar
*.war
*.ear
.gradle
build
*.iml
*.ipr
*.iws
*.DS_Store
.idea
gradle
fineract-provider/src/main/java/org/apache/fineract/infrastructure/core/boot/db/DataSourceProperties.java

fineract-provider/src/test/resources/META-INF/context.xml
